%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
      %a.navbar-brand= t('layout.title')
    %a.shop-link.pull-right.hidden-xs{href: "#"}
      %span.shop-icon
        %span.shop-quantity
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to  t('layout.home'), root_path, class: 'nav-link'
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}= t('layout.shop')
            %ul.dropdown-menu
              %li
                %a{href: "#"} Mobile development
              %li
                %a{href: "#"} Photo
              %li
                %a{href: "#"} Web design
              %li.divider{role: "separator"}
              %li
                %a{href: "#"}= t('layout.log_out')
          %li
            %a{href: "#"}= t('layout.my_account')
