%main.container
  - if cart&.order_items.present?
    %h1.general-title-margin= t('cart.cart')
    .visible-xs
      = render partial: 'carts/partials/order_items_xs', collection: cart.order_items, as: :order_item
    .hidden-xs
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600= t('cart.product')
          %th.col-title
          %th.col-price
            %span.in-grey-600= t('cart.price')
          %th.col-quantity
            %span.in-grey-600= t('cart.quantity')
          %th.col-total
            %span.in-grey-600= t('cart.subtotal')
          %th.col-close
        = render partial: 'carts/partials/order_items', collection: cart.order_items, as: :order_item
    .general-order-wrap
      .row
        .col-sm-4
          .input-group.general-input-group
            %label.input-label= t('cart.enter_coupon_code')
            = simple_form_for 'order[coupon]', url: cart_path, method: :put do |f|
              = f.text_field :code, placeholder: t('cart.enter_coupon_code'), class: 'form-control mb-30'
              = f.button :submit, t('button.apply_coupon'), class: 'btn btn-primary mr-5 mb-15'
        .col-sm-8
          .res-mr-200.text-center.general-text-right
            %p.in-gold-500.font-18= t('cart.order_summary')
            %table.general-summary-table.general-summary-table-right.general-text-right
              %tr
                %td
                  %p.font-16 #{t('cart.subtotal')}:
                %td
                  %p.font-16= number_to_currency(cart.order_items_subtotal)
              %tr
                %td
                  %p.font-16 #{t('cart.coupon')}:
                %td
                  %p.font-16= number_to_currency(cart.order_discount)
              %tr
                %td
                  %strong.font-18 #{t('cart.order_total')}:
                %td
                  %strong.font-18= number_to_currency(cart.order_total)
            %button.btn.btn-default.mb-20.visible-xs-inline-block= t('button.checkout')
    %button.btn.btn-default.mb-20.hidden-xs.center-block= t('button.checkout')
  - else
    .jumbotron.text-center.mb-0.mb-res-50
      %p= t('cart.cart_is_empty')
