%main.container.general-main-wrap
  = simple_form_for(:order, url: checkout_path, method: :put, html: { class: 'res-mb-100' }) do |f|
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
        = f.simple_fields_for(:billing_address, AddressForm.new(current_user.billing_address&.attributes), 
          defaults: { input_html: { class: "form-control" }, wrapper_html: { class: 'form-group' }}) do |fa|
          = render partial: 'addresses/partials/form_fields', locals: { f: fa, kind: :billing }
      .col-md-5.col-md-offset-1.mb-60
        #shipping_address_form
          .visible-xs.visible-sm
          = f.simple_fields_for(:shipping_address, AddressForm.new(current_user.shipping_address&.attributes), 
            defaults: { input_html: { class: "form-control" }, wrapper_html: { class: 'form-group' }}) do |fa|
            = render partial: 'addresses/partials/form_fields', locals: { f: fa, kind: :shipping }
        .form-group.checkbox
          %label.checkbox-label
            = check_box_tag 'order[only_billing]', "1", false, class: 'checkbox-input', hidden: 'true'
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('checkouts.addresses.use_billing_address')
    = render partial: 'checkouts/partials/order_summary', locals: { order: @order }
    .text-center
      = f.button :submit, t('checkouts.save_and_continue')