%p.in-gold-500.font-18= t('checkouts.confirm.order_summary')
%table.general-summary-table
  %tr
    %td
      %p.font-16 #{t('cart.subtotal')}:
    %td
      %p.font-16= number_to_currency(order.order_items_subtotal)
  %tr
    %td
      %p.font-16 #{t('cart.coupon')}:
    %td
      %p.font-16= number_to_currency(order.discount)
  - if @order.state != Order.states.key(0)
    %tr
      %td
        %p.font-16 #{t('checkouts.confirm.shipping')}:
      %td
        %p.font-16= number_to_currency(order.delivery_price)
  %tr
    %td
      %strong.font-18 #{t('cart.order_total')}:
    %td
      %strong.font-18= number_to_currency(order.order_total)
