%main.container
  %h1.general-title-margin= t('checkouts.checkout')
  %ul.steps.list-inline.list-center
    - Order.states.each do |state, index|
      %li.step{class: ("active" if @order.passed_state?(state)) }
        %span.step-number= @order.state_done?(state) ? '✓' : index + 1
        %span.step-text.hidden-xs= t("checkouts.#{state}.#{state}")
      - unless @order.last_state?(index)
        %li.step-divider
  = render partial: "checkouts/partials/#{@order.state}"
