.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25= t('devise.password')
  = simple_form_for(resource, url: registration_path(resource), class: 'general-form-md divider-lg-bottom pb-25',
  defaults: { input_html: { class: "form-control" }}, html: { method: :put, id: 'password-form' }) do |f|
    .form-group.mb-30
      = f.input :current_password, class: 'form-control', placeholder: t('devise.current_password')
    .form-group.mb-30
      = f.input :password, class: 'form-control', placeholder: t('devise.new_password')
    .form-group.mb-40
      = f.input :password_confirmation, class: 'form-control', placeholder: t('devise.confirm_password')
    .general-text-align
      = f.button :submit, t('button.save'), class: 'btn btn-default mb-35'
